
<div class = 'confirm-cart'>
		<img class = 'cart-icon' src = "img/fire.png">
	Confirm Cart</div>

<div class = 'billing-info'>
	Billing Info
		<div class = 'billing-rotate'>
		<img class = 'billing-icon-pend' src = "img/ice.png">
		<img class = 'billing-icon-comp' src = "img/fire.png">
		</div>
</div>

<div class = 'shipping-info'>
		<img class = 'shipping-icon' src = "img/ice.png" >
	Shipping Info</div>

<div class = 'payment-info'>
	Payment Info
		<img class = 'payment-icon' src = "img/ice.png">
	</div>

<div class = 'confirm-order'>
		<img class = 'confirm-icon' src = "img/ice.png">
	Confirm Order</div>