<div class='filters-module'>

	{{#if this}}
		<div class='category-title'>Category {{subcat}}</div>

		{{#each data}}
			<div class='filter-title'>{{name}}</div>

			<div class='filter-value-box'>

				{{#if radio}}
					{{#each radio}}
						<div class='filter-radio-value'>{{this}}</div>
					{{/each}}
				{{/if}}

				{{#if boolean}}
					{{#each boolean}}
						<div class='filter-boolean-value'>{{this}}</div>
					{{/each}}
				{{/if}}

				{{#if checkbox}}
					{{#each checkbox}}
						<div class='filter-checkbox-value'>{{this}}</div>
					{{/each}}
				{{/if}}


			</div>
		{{/each}}

	{{else}}

		<div>Filters</div>

	{{/if}}
</div>




<!--

Sample filter (hardcoded)
<div class="filters-module">
	<div class="parent-filter">
		<ul style="list-style-type:disc">
			<li>Electronics
				<ul style="list-style-type:circle">

					<li>Price
						<ul style="list-style-type:none">
							<li>Below $50</li>
							<li>$50 - $99</li>
							<li>$100 - $199</li>
							<li>$200 - $299</li>
							<li>$400 - $499</li>
							<li>$500 - $749</li>
							<li>$750 - $999</li>
							<li>$1000 and up</li>
						</ul>
					</li>

				</ul>
			</li>
		</ul>
	</div>
	<div class="child-filter">
		<ul style="list-style-type:disc">
			<li>Cameras
				<ul style="list-style-type:circle">

					<li>Brand
						<ul style="list-style-type:none">
							<li>Canon</li>
							<li>Nikon</li>
							<li>Sony</li>
							<li>Panasonic</li>
							<li>Olympus</li>
							<li>Samsung</li>
						</ul>
					</li>

					<li>Megapixels
						<ul style="list-style-type:none">
							<li>5 or less</li>
							<li>11 - 14</li>
							<li>15 or more</li>
						</ul>
					</li>

					<li>Color
						<ul style="list-style-type:none">
							<li>Black</li>
							<li>Red</li>
							<li>Silver/gray</li>
							<li>Blue</li>
							<li>White</li>
							<li>Orange</li>
							<li>Pink</li>
						</ul>
					</li>

					<li>Type
						<ul style="list-style-type:none">
							<li>Compact</li>
							<li>Basic</li>
							<li>Advanced</li>
							<li>Kid's</li>
						</ul>
					</li>

				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="items-module">
    {{#each this}}
        <div class="clickable-item">
            <div><img class="item-img" src="{{img}}"></div>
            <div>{{name}}</div>
            <div>{{desc}}</div>
            <div>{{price}}</div>
            <div><img src="img/ratings/{{rating}}.png"></div>
        </div>
    {{/each}}
</div>
 -->
