<i>Hardcoded filter</i>
<div class="filters-module">
		Category Electronics
		<ul style="list-style-type:disc">
			<li>Price
				<ul style="list-style-type:none">
					<li>From:</li>
					<li>To:</li>
				</ul>
			</li>
			<li>Ratings
				<form action="">
					<input type="checkbox" name="vehicle" value="1">*<br>
					<input type="checkbox" name="vehicle" value="2">**<br>
					<input type="checkbox" name="vehicle" value="3">***<br>
					<input type="checkbox" name="vehicle" value="4">****<br>
					<input type="checkbox" name="vehicle" value="5">*****<br>
					<button type="submit ratings filter">Submit ratings filter</button>
				</form>

			</li>
		</ul>
		Subcategory Cameras
		<ul style="list-style-type:disc">
			<li>Brand
				<form action="">
					<input type="checkbox" name="vehicle" value="Sony">Sony<br>
					<input type="checkbox" name="vehicle" value="Nikon">Nikon
				</form>
			</li>
		</ul>
	</div>
</div>
<!--
<div class="items-module">
    {{#each this}}
        <div class="clickable-item">
            <div><img class="item-img" src="{{img}}"></div>
            <div>{{name}}</div>
            <div>{{desc}}</div>
            <div>{{price}}</div>
            <div><img src="img/ratings/{{rating}}.png"></div>
        </div>
    {{/each}}
</div>
-->