{{#if msg}}
    <div class="initial-items-page">{{msg}}</div>
{{else}}
    <div class="items-module">

        <div class='item-header'>
            <div class='item-header-container'>
                <div class='item-bc'>{{cat}} &gt; {{subcat}}</div>
                <div class='item-info'>Showing <span>1 to 20 of 200</span></div>
            </div>
            <div class='item-nav'>
                <button class="layout-btn show-block-layout"><img src="img/block.jpg"></button>
                <button class="layout-btn show-list-layout"><img src="img/list.jpg"></button>
            </div>
        </div>

        <div class='item-body'>
            <div class='item-body-container'></div>
        </div>
        <div class='item-footer'>&lt;Prev 1 2 3 ... 40 Next&gt;</div>
    </div>
{{/if}}
