<div class = 'new-gift-card-wrapper'>
    <h2>Add a New Gift Card</h2>
    <span class = 'card-text'>Account Email: </span><input type = 'text' class = 'recv-email'><div class = 'validate-email'></div><br />
<!--     <span class = 'card-text'>Code: </span><input type = 'text' class = 'new-code'><div class = 'validate-code'></div><br /> -->
    <span class = 'card-text'>Amount: $</span><input type = 'text' class = 'new-amount'><div class = 'validate-amount'></div><br />
    <div class = 'btn-wrapper'><button class = 'add-gift-card'>Add Gift Card</button></div>
</div>

<div class = 'gift-cards-table'>
    <h2>Available Gift Cards</h2><br />
    <table>
        <tr>
            <th>Code</th>
            <th>Amount</th>
            <th>Used</th>
        </tr>
        
        {{#each this}}
        <tr>
            <td>{{code}}</td>
            <td>{{amount}}</td>
            <td>{{#if used}}true{{else}}false{{/if}}</td>
        </tr>
        {{/each}}
    </table>
</div>
