<div class="admin-items-module">
    <div class="tabs">
        <div class="tab" id="add-tab">
            <div class="text">Add</div>
        </div>
        <div class="tab" id="edit-tab">
            <div class="text">Edit</div>
        </div>
        <div class="tab" id="delete-tab">
            <div class="text">Delete</div>
        </label>
    </div>

    <div class="items-body">

        <div class="left-pane">
            <div class="name">
                <label>Name: </label><input class='item-name' type='text' placeholder='Item name'>
            </div>
            <div class="description">
                <textarea placeholder="Description" maxlength="160"></textarea>
            </div>
            <div class="categories">
                <label>Category: <label>
                <select class="main-cat">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <select class="secondary-cat">
                    <option value="a">a</option>
                    <option value="b">b</option>
                    <option value="c">c</option>
                </select>
            </div>
            <div class="cost">
                <label>Cost: $</label>
                <input class='item-cost' type='text' placeholder='Item cost'>
            </div>
            <div class="price">
                <label>Price: $</label>
                <input class='item-cost' type='text' placeholder='Sale price'>
            </div>
        </div>

        <div class="right-pane">
            <div class="images-URLs">
                <input type='text' placeholder='Image URL 1'>
                <input type='text' placeholder='Image URL 2'>
                <input type='text' placeholder='Image URL 3'>
                <input type='text' placeholder='Image URL 4'>
            </div>
            <div class="images">
                <img src="//www.bmotorsports.com/shop/images/product-unavailable.jpg">
                <img src="//www.bmotorsports.com/shop/images/product-unavailable.jpg">
                <img src="//www.bmotorsports.com/shop/images/product-unavailable.jpg">
                <img src="//www.bmotorsports.com/shop/images/product-unavailable.jpg">
            </div>
        </div>

    </div>
</div>