<div class="admin-menu-content">
    <div class="title">Administrative Menu</div>
    <div class="menu">
        <div class="item clickable" id="showSalesReports">Sales Reports</div>
        <div class="item clickable" id="showMarketing">Marketing</div>
        <div class="item clickable" id="showPromoCode">Promo Codes</div>
        <div class="item expandable">
            <div class="arrow"></div>
            Inventory
        </div>
        <div class="sub-menu">
            <div class="item clickable" id="showItems">Add/Remove Items</div>
            <div class="item clickable" id="showInventory">Check Inventory</div>
        </div>
    </div>
</div>
