<div class="promocode-module">
	<div class="promocode-title">Promo Codes</div>
		<div class="product-label-div"><span class = "promo-text">Product:</span>
			<select class="combo-box">
				<option>All</option>
				<option>Category</option>
				<option>Item</option>
			</select>
			<input type="text">
		</div>
		<div class="code-label-div"><span class = "promo-text">Code:</span><input type="text"></div>
		<div class="amount-label-div">
			<span class = "promo-text">Amount:</span><input type="text">
			<select class="amount-combo-box">
				<option>%</option>
			</select>
		</div>
		<div class="start-label-div">
			<span class = "promo-text">Start:</span><input type="date">
			<input type="checkbox" unchecked>Now</input>
		</div>
		<div class="end-label-div"> 
			<span class = "promo-text">End:</span><input type="date">
			<input type="checkbox" unchecked>Never</input>
		</div>
		<div class="stackable-label-div">
			<input type="checkbox" unchecked>Stackable?
		</div>
</div>
