<div class="promocode-module">
	<div class="promocode-title">Promo Codes</div>
		<div class="product-label-div"> Product: 
			<select class="combo-box">
				<option> All </option>
				<option> Category </option>
				<option> Item </option>
			</select> 
			<input type="text">
		</div>
		<div class="code-label-div"> Code: <input type="text"></div>
		<div class="amount-label-div"> 
			Amount: <input type="text">
			<select class="amount-combo-box">
				<option>%</option>
			</select>
		</div>
		<div class="start-label-div">
			Start: <input type="date">
			<input type="checkbox" unchecked>Now</input>
		</div>
		<div class="end-label-div"> 
			End: <input type="date">
			<input type="checkbox" unchecked>Never</input>
		</div>
		<div class="stackable-label-div">
			<input type="checkbox" unchecked>Stackable?
		</div>
</div>
