<div>Name:
    <input type="text" class="text-input input-name" value="{{nameGiven}}"></input>
</div>
<div class="stars-given">
    
</div>
<div >Review:
    <textarea rows="15" class="text-input textAreaText">{{textGiven}}</textarea>
</div>
<div >
    {{#each starReviews}}
        <div class="stars" id="{{this}}-select">
            <img src="img/ratings/{{this}}.png">
        </div>
    {{/each}}
</div>
<button class="gen-btn submit-review">Submit Review</button>
<button class="gen-btn cancel-review">Cancel Review</button>