{{#if msg}}
    <div class="initial-review-page">{{msg}}</div>
{{else}}
    <div class="review-module">
        <div class="review-header-container">
                {{#each starReviews}}
                    <div class="stars" id="{{ratings}}-select">
                        <img src="img/ratings/{{ratings}}.png">
                        <span>{{number}}</span>
                    </div>
                {{/each}}
                <button class="show-btn" >Show All</button>
        </div>
        <button class="add-review">Add Review</button>
        <div class="reviews">
            {{#each reviews}}
                <div class="individual-review {{ratings}}-rating">
                    <img src="img/ratings/{{ratings}}.png">
                    <span>{{name}}</span>
                    <div >{{text}}</div>
                </div>
            {{/each}}
        </div>
    </div>
{{/if}}