<button tabindex="-1" class='btn' id='show-log-in'>Log In / Sign Up</button>
<div class='sign-in-modal'>
    <div class='section'>
        <span>Username: </span>
        <input tabindex="-1" class='user' type='text'>
    </div>
    <div class='section'>
        <span>Password: </span>
        <input tabindex="-1" class='pass' type='password'>
    </div>
    <div class='section log-in-specific'>
        <button tabindex="-1" class='btn log-in' id='log-in'>Log In</button>
    </div>
    <div class='section log-in-specific'>
        <span class='no-account-link' id='show-sign-up'>Don't have an account?</span>
    </div>
    <div class='section'>
        <span>Confirm Password: </span>
        <input tabindex="-1" class='cpass' type='password'>
    </div>
    <div class='section'>
        <span>Email: </span>
        <input tabindex="-1" class='email' type='text'>
    </div>
    <div class='section'>
        <span>First Name: </span>
        <input tabindex="-1" class='fname' type='text'>
    </div>
    <div class='section'>
        <span>Last Name: </span>
        <input tabindex="-1" class='lname' type='text'>
    </div>
        <div class='section'>
        <button tabindex="-1" class='btn log-in' id='sign-up'>Sign Up</button>
    </div>
</div>

<div class="error-msg hidden">Incorrect Username / Password. Something's wrong. Better fix it.</div>

<div class="info user-info">
    <div class="info-arrow"></div>
    <div class="info-text">Welcome! Choose your favorite Username. You'll use this to enter the site.</div>
    <div class="info-error"></div>
    <div class="info-success"></div>
</div>

<div class="info pass-info">
    <div class="info-arrow"></div>
    <div class="info-text">Enter your desired Password. Don't forget it! It's your passport in.</div>
    <div class="info-error"></div>
</div>

<div class="info cpass-info">
    <div class="info-arrow"></div>
    <div class="info-text">Make sure this password matches your other one.</div>
    <div class="info-error"></div>
</div>

<div class="info email-info">
    <div class="info-arrow"></div>
    <div class="info-text">Enter a valid email address. We won't spam you. Scout's Honor.</div>
    <div class="info-error"></div>
</div>

<div class="info fname-info">
    <div class="info-arrow"></div>
    <div class="info-text">Let's get to know each other. What's your first name?</div>
    <div class="info-error"></div>
</div>

<div class="info lname-info">
    <div class="info-arrow"></div>
    <div class="info-text">You're almost finished! What about your last name?</div>
    <div class="info-error"></div>
</div>
