@import "common";
@import "header";
@import "filters";
@import "cart";
@import "items";
@import "footer";


body {
    margin: 0;
    width: 100%;
    min-width: 950px;
    position: absolute;
    background-color: #666;
}

.overlay {
    position: fixed;
    width: 100%;
    min-width: 950px;

    .padder {
        width: 92%;
        margin: 0 auto;
        margin-top: 17px;
    }
}

.wrapper {
    padding-top: 180px;
    padding-bottom: 30px;
    width: 92%;
    margin: 0 auto;
}