{{#each this}}
    <div class="clickable-item list-item{{#if isOdd}} odd-item{{else}} even-item{{/if}}" id="{{id}}-item">
        <div class='item-list-info'>
            <img class="item-img" src="{{img}}">
            <div class="item-specs">
                <div class='item-spec-name'>{{name}}</div>
                <div>{{price}}</div>
                <div><img src="img/ratings/{{rating}}.png"></div>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="item-desc">{{desc}}</div>
    </div>
{{/each}}
