<div class='item-detail-view'>
    <div class='item-images'>
        <img class='item-big-img' src="{{img}}">
        <div class='item-small-img-group'>
            {{#each extraImg}}
                <img class='item-small-img' src="{{this}}">
            {{/each}}
        </div>
    </div>
    <div class='item-details-box'>
        <button>Back</button>
        <div class='item-detail-name'>{{name}}</div>
        <div class='item-detail-price'>{{price}}</div>
        <img class='item-detail-rating' src="img/ratings/{{rating}}.png">
        <button>Add to Cart</button>
    </div>
    <div class='item-detail-desc'>{{desc}}</div>
</div>
