{{#each this}}
    <div class="id-cont clickable-item list-item{{#if isOdd}} odd-item{{else}} even-item{{/if}}" id="{{id}}-item">
        <div class='item-list-info'>
            <div class="item-img-wrapper">
                <img class="item-img" src="{{img}}">
            </div>
            <div class="item-specs">
                <div class='item-spec-name'>{{name}}</div>
                <div>${{price}}</div>
                <div><img src="img/ratings/{{rating}}.png"></div>
                <button class='add-to-cart'>Add to Cart</button>
            </div>
        </div>
        <div class="item-desc">{{desc}}</div>
    </div>
{{/each}}