.confirm-cart{
	margin-bottom: 75px;
}

.billing-info{
	margin-bottom: 75px;
}

.shipping-info{
	margin-bottom: 75px;
}

.payment-info{
	margin-bottom: 75px;
}

.confirm-order{
	margin-bottom: 75px;
}