.confirm-cart{
	margin-bottom: 100px;
	text-align: right;
	font-size: 120%;

	.cart-rotate{
		float:left;
		height: 50px;
		width: 50px;
		-webkit-transition: 1s;
		-webkit-transform-style: preserve-3d;
		-webkit-transform: rotateY(180deg);



		.cart-icon-pend{
			width: 50px;
			height: 50px;
			position: absolute;
			-webkit-backface-visibility: hidden;
		}

		.cart-icon-comp{
			width: 50px;
			height: 50px;
			position: absolute;
			-webkit-backface-visibility: hidden;
			-webkit-transform: rotateY(180deg);
		}
	
	}
}

.billing-info{
	margin-bottom: 100px;
	text-align: left;
	font-size: 120%;

	.billing-icon-pend{
		width: 50px;
		height: 50px;
		position: absolute;
		-webkit-backface-visibility: hidden;		
	}

	.billing-icon-comp{
		width: 50px;
		height: 50px;
		position: absolute;
		-webkit-backface-visibility: hidden;
		-webkit-transform: rotateY(180deg);
	}

	.billing-rotate{
		float:right;
		height: 50px;
		width: 50px;
		-webkit-transition: 1s;
		-webkit-transform-style: preserve-3d;
		-webkit-transform: rotateY(180deg);
	}
}

.shipping-info{
	margin-bottom: 100px;
	clear: right;
	text-align: right;
	font-size: 120%;

	.shipping-icon-pend{
		width: 50px;
		height: 50px;
		position: absolute;
		-webkit-backface-visibility: hidden;
		float: left;
		
	}

	.shipping-icon-comp{
		width: 50px;
		height: 50px;
		position: absolute;
		-webkit-backface-visibility: hidden;
		-webkit-transform: rotateY(180deg);
		float: left;
		
	}

	.shippping-rotate{
		float:left;
		height: 50px;
		width: 50px;
		-webkit-transition: 1s;
		-webkit-transform-style: preserve-3d;
		-webkit-transform: rotateY(180deg);
	}
}

.payment-info{
	margin-bottom: 100px;
	clear: left;
	text-align: left;
	font-size: 120%;

	.payment-icon-pend{
		width: 50px;
		height: 50px;
		position: absolute;
		-webkit-backface-visibility: hidden;
		float: left;
		
	}

	.payment-icon-comp{
		width: 50px;
		height: 50px;
		position: absolute;
		-webkit-backface-visibility: hidden;
		-webkit-transform: rotateY(180deg);
		float: left;
		
	}

	.payment-rotate{
		float:left;
		height: 50px;
		width: 50px;
		-webkit-transition: 1s;
		-webkit-transform-style: preserve-3d;
		-webkit-transform: rotateY(180deg);
	}
}

.confirm-order{
	margin-bottom: 100px;
	clear: right;
	text-align: right;
	font-size: 120%;

	.confirm-icon-pend{
		width: 50px;
		height: 50px;
		position: absolute;
		-webkit-backface-visibility: hidden;
		float: left;
		
	}

	.confirm-icon-comp{
		width: 50px;
		height: 50px;
		position: absolute;
		-webkit-backface-visibility: hidden;
		-webkit-transform: rotateY(180deg);
		float: left;
		
	}

	.confirm-rotate{
		float:left;
		height: 50px;
		width: 50px;
		-webkit-transition: 1s;
		-webkit-transform-style: preserve-3d;
		-webkit-transform: rotateY(180deg);
	}
}