
.checkout-module {
    .checkout-title {
        font-size: 24px;
        text-decoration: underline;
        text-align: center;
    }

    .checkout-body {
        height: 475px;
        overflow: auto;
    }

    .checkout-nav {
        #checkout-next-step {
            float: right;
        }

        .nav-buttons {
            width: 100px;
            height: 40px;
        }
    }

    .confirm-cart-page {
        .item-img-wrapper {
            display: inline-block;
            width: 75px;
            margin-right: 20px;
            vertical-align: top;

            img {
                max-width: 75px;
                max-height: 65px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .invalide-gift-card{
            visibility: hidden;
        }

        .checkout-item-info {
            display: inline-block;
            width: 20%;
        }

        .item-promo-wrapper {
            display: inline-block;

            .promo-code-text {
                width: 80px;
            }
        }

        .general-promo-wrapper {
            display: inline-block;
            margin-right: 80px;

            .general-promo-text {
                width: 130px;
            }
        }

        .totals-wrapper {
            display: inline-block;

            label {
                display: block;
            }
        }
    }

    .billings-shipping-page {

        .section-title {
            font-style: italic;
        }

        .billing-info, .shipping-section {
            margin: 15px 0px 15px 30px;
            width: 340px;
            display: inline-block;
        }

        .name {
            margin: 10px 0px;
            .firstName, .lastName {
                width: 130px;
            }
        }

        .notes {
            display: inline-block;
            vertical-align: top;
            margin-top: 40px;
            width: 45%;

            textarea {
                width: 100%;
                height: 110px; //160
                resize: none;
            }
        }

        .address {
            .street, .PO-box {
                width: 225px;
            }

            .city, .state, .zip {
                width: 70px;
            }
        }
    }

    .payment-page {

        margin-top: 50px;
        margin-left: 20px;

        .section-title {
            margin-top: 100px;
            font-style: italic;
        }

        .payment-info {
            width: 330px;

            .name, .cardNum {
                display: block;
                height: 30px;
                input {
                    float: right;
                    width: 65%;
                }
            }

            .expirationDate, .CVC-div {
                display: inline-block;
                input {
                    width: 40px;
                }
            }

            .expirationDate label {
                margin-right: 8px;
            }

            .CVC-div {
                float: right;
            }
        }

        .notice {
            margin-top: 30%;
            font-style: italic;
            text-align: center;
        }
    }

    .confirm-order-page {
        .title {
            font-style: italic;
        }

        .order-info {
            width: 100%;
            height: 150px;
            overflow: scroll;
            margin-bottom: 15px;

            table {
                td {
                    border: 1px dotted;
                    text-align: center;
                }

                .name {
                    width: 60%;
                }

                .discount, .price {
                    width: 20%;
                }
            }
        }

        .totals-wrapper {
            display: block;
            width: 100%;
            height: 50px;

            .totals {
                float: right;

                .total {
                    label {
                        float: left;
                    }

                    .values {
                        float: right;
                        margin-left: 5px;
                    }
                }
            }
        }

        .addresses {
            width: 100%;
            height: 130px;
            display: block;

            .address-wrapper {
                width: 49%;
                display: inline-block;
                float: left;

                .address {
                    width: 50%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    text-overflow: ellipsis;

                    .city, .state, .zip {
                        display: inline-block;
                    }

                }
            }
        }



        .payment-info {
            text-align: center;

            .expire, .CVC {
                display: inline-block;
            }

            .CVC {
                margin-left: 10px;
            }
        }
    }
}