.filters-module {
    overflow: scroll;
    height: 100%;

    .filters-title {
        font-size: 20px;
        text-decoration: underline;
        text-align: center;
    }

    .common-filters {
        ul {
            padding-left: 20px;
            margin: 0px;
        }

        button {
            width: 95%;
        }
    }

    .common-choices ul {
        padding-left: 10px;
    }

    .priceLabelDiv {
        width: 40px;
        display: inline-block;
    }

    .priceFilter input {
        width: 50%;
        display: inline-block;
    }

    .category-title {
        text-decoration: underline;
        margin-top: 10px;
    }

    .filter-title {
        margin-left: 15px;
    }

    .filter-value-box {
        margin-left: 15px;
    }
}
