.filters-module {
    overflow: scroll;
    height: 100%;

    .category-title {

    }

    .filter-title {
        margin-left: 20px;
    }

    .filter-value-box {
        margin-left: 40px;

        .filter-value {

        }
    }
}
