.initial-review-page{
    margin:50px;
    text-align:center;
}

.review-module
{
    .review-header-container{
        position:absolute;
        top:8px;
        .stars{
            .img{
                width:25%;
            }
            width: 48%;
            margin-top: 2px;
            display:inline-block;
        }
    }
    .reviews{
        margin-top:75px;
        .individual-review{
            max-height:65px;
            margin:5px;
            border-top:1px solid;
            margin-top: 3px;
        }
    }
}