img(style="float: left;", src="http://speedyshop.herokuapp.com/img/logo.png")
div(style="margin-left: 200px; padding-top: 10px;")
  div(style="font-size: 26px; padding-bottom: 10px;") Hey!
  div(style="font-size: 22px;") Lucky You!
div(style="padding: 20px 0;") Someone must really like you. They decided to send you a gift card.
  div Card Number: !{cardNum}.
  div Card Amount: $!{amount}.00.
div Use it at 
  a(href="http://speedyshop.herokuapp.com") SpeedyShop.com!
div Sincerely,
div(style="padding-left: 25px;") The Speedy Shop Team
