.gift-cards-table {
    overflow: auto;
    width: 100%;
    height: 100%;

    table {

        width: 50%;

        th {
            text-decoration: underline;
            text-align: left;
        }

        tr {
            padding-right: 15px;
            padding-bottom: 10px;

            &:hover{
                background-color: #BEBEBE;
            }

        }

    }
    h2{
        text-align: left;
    }
}
.new-gift-card-wrapper{
    padding-bottom: 50px;

    .card-text{
        display: inline-block;
        text-align: right;
        min-width: 100px;
    }
    .btn-wrapper{
        padding-left: 150px;
    }
    h2{
        text-align: left;
    }
}
