.promocode-module {
 overflow: auto;
    height: 100%;
    font-size: 16px;

    .promocode-title {
        font-size: 20px;
        text-decoration: underline;
        text-align: center;

    }

    .promo-text{
    display: inline-block;
    min-width: 60px;
    }

    .combo-box{        
    	width:120px;
        font-family: Tahoma,Verdana,Arial, Sans-Serif;
        font-size:11px;
        text-align:left;
        color:Black;
    }
    .amount-combo-box{
    	width:50px;
    	font-family: Tahoma,Verdana,Arial, Sans-Serif;
        font-size:11px;
        text-align:left;
        color:Black;
    }
    .product-label-div{

    }
    .code-text{

    }
}