.promocode-module {
    height: 90%;
    width: 100%;
    font-size: 16px;

    .promocode-title {
        font-size: 20px;
        text-decoration: underline;
        text-align: center;
    }

    .amount{
        width:100%;
    }

    .stackable-div{
        text-align: right;
    }
    .code-input{
        width:90px;
    }
    .range-bar{
        width: 50%
    }
    .percentage-off{
        width:30%;
    }
    .amount-field{
        width:30%;
    }
    .stackable-div{
        float: left;
    }
}
.outer-area{
    text-align: center;
    .save-btn{
        width: 100%;
    }

}
