.code-list{
	cursor: pointer;
    padding: 5px;
    clear: both;
    .code-item{
	    .code-title{
	    	font-size: 14px;
	        text-align: left;
	    }
    }

    table{
    	width: 100%;
    	border-collapse:collapse;
    	
    	&:first-child {
    		border-top: 1px solid #aaa; 
    	}
    }
	tr.row {
		height: 40px;
		border-bottom: 1px solid #aaa;
		    &:hover {
        	background-color: #999;
    	}
	}

}