
.sales-reports-body {
    #sales-graph {
        .stop-flicker ();
    }

#sales-chart {
    overflow: auto;
    width: 95%;
    max-height: 420px;
}

    table{
        margin-left: 100px;
        width: 1600px;

        div{
            text-align: left;
        }

        input{
            width:50px;
        }

        .cell{
            margin-left:0;
        }

        .left{
            text-align:left;
            color: gray;
            &:hover {
                cursor: pointer;
            }
        }

        .right{
            margin-left: 5%;
            color: red;
        }

        .top{
        }
    }

}