
.sales-reports-body {
    overflow: auto;
    width: 100%;
    height: 100%;
    .stop-flicker ();

    .sr-header {
        height: 40px;
        box-shadow: 0 0 20px 2px rgba(0, 0, 0, .5);
        margin-bottom: 40px;
        padding: 5px;

        .sr-nav-items {
            float: right;
            position: relative;

            button {
                position: absolute;
                height: 40px;
                width: 50px;
                top: 0;
                left: -50px;

                &.selected {
                    background-color: black;
                    color: white;
                }
            }

            .show-graph {
                left: -100px;
            }
        }
    }

    #sales-graph {
        margin: 0 auto;
    }

    .sr-legend {
        position: absolute;
        float: left;
        margin-top: 20px;

        span {
            display: inline-block;
            position: relative;
            top: -3px;
            width: 30px;
            height: 5px;
        }
    }

    .sr-buttons-box {
        position: relative;
        text-align: center;

        .sr-buttons-box-container {
            position: relative;
            display: inline-block;

            button {
                position: absolute;
                height: 40px;
                width: 50px;
                top: 0;
                left: 0;

                &.selected {
                    background-color: black;
                    color: white;
                }
            }

            .graph-prev {
                left: -125px;
            }

            .graph-month-view {
                left: -50px;
            }

            .graph-next {
                left: 75px;
            }

            .graph-quantity {
                left: -75px;
                top: 100px;
            }

            .graph-gross {
                left: -25px;
                top: 100px;
            }

            .graph-net {
                left: 25px;
                top: 100px;
            }
        }
    }

    .graph-title {
        text-align: center;
        font-size: 30px;
        color: #F03E3E;
        font-weight: bold;
    }

    .sr-loader {
        display: block;
        margin: 0 auto;
        height: 200px;
    }

    #sales-chart {
        overflow: auto;
        width: 95%;
        max-height: 420px;
    }

    table{
        margin-top:20px;
        width: 1600px;

        div {
            text-align: left;
        }

        th {
            width: 50px;
        }

        tr {
            background-color:rgba(221, 221, 221, 0.21);

            &.odd {
                background-color: rgba(153, 153, 153, 0.46);
            }
        }

        input {
            width: 50px;
        }

        .cat {
            text-align: center;
        }

        .cell {
            margin: 2px;
        }

        .left {
            text-align: left;
            color: gray;
            &:hover {
                cursor: pointer;
            }
        }

        .right {
            margin-left: 5%;
        }
    }
}
