<button class = "processed-btn">Processed</button>
<button class = "completed-btn">Completed</button>

<div class = "order-wrapper">
	{{#each this}}
		<div class="order-box {{orderStatus}}-item">
		    <div class="order-status">Status: {{orderStatus}}</div>
		    <div class="order-num">Order Number: {{orderNum}}</div>
		    <ul>
		    {{#each items}}
		    	<li>
		    	<div class = "order-item">Item #: {{itemID}}</div>
		    	<div class = "order-quantity">-Quantity: {{quantity}}</div>
		    	</li>
		    {{/each}}
			</ul>
			<div class="order-weight">Package Weight: {{estimatedWeight}} lbs</div>
		</div>
	{{/each}}
</div>


