<div class="emp-shipping-body">
    <h3> Possible Layout </h3>
<pre>
    orderStatus = Processed/Shipped
    orderNum = integer value start at 1000
    estimatedWeight = Sum of all items in Order
    items = Array of Key : Value pairs (ItemNumber : Quantity)
    shippingLabel = Shipping Label Object that contains customers shipping info
    int [] orderStatusSearch("processed", "shipped")
    	return int array with all of the OrderNums that have that status

    int getOrder(int thisOrderNum)
    	return Order obj
    ### on shipping page ###

    Scroll window with refresh button
    	Contain a list of Orders that have been processed but not shipped

    Form
    	Checklist for items that have been packaged

    Total Package Weight

    Shipping Label -- need it to be print clickable
</pre>

</div>