<div class = "emp-shipping-body">
    {{#if msg}}
        <div class = 'default-shipping-msg'> {{msg}} </div>
{{else}}

    <div class = 'shipping-order-status'>Order Status: {{orderStatus}}</div>
    <br />
    <div class = 'shipping-order-num'>Order Number: {{orderNum}}</div>
    <br />

    <ul>
    {{#each items}}
        <li>
            <input class = 'item-check' type = 'checkbox'> Item Number: {{itemID}}
            <div class = 'shipping-quantity'>Quantity: {{quantity}}</div>
        </li>
        <br />
    {{/each}}
    </ul>
    <div class = 'shipping-weight'>Package Weight: {{estimatedWeight}} lbs </div>
    <br />
    <hr>

    <input class = 'completed-btn' type = 'submit' value = 'Order Completed'>

{{/if}}

<span class = 'error-msg'>Oops! Not all of the checkboxes have been marked</span><span class = 'submitted-msg'>Successfully submitted!</span>
</div>