<div class="checkout-subtitle">
    Addresses
</div>
<div class="billings-shipping-page">
    <hr>
    <div class="billing-section">
        <div class="section-title">
            Billing
        </div>
        <div class="billing-info">
            <div class="name">
                Name: <input class='firstName' type='text'> <input class='lastName' type='text'>
            </div>
            <div class="address-label">
                Address
            </div>
            <div class="address">
                <input class='street' type='text'><br/>
                <input class='PO-box' type='text'><br/>
                <input class='city' type='text'>
                <input class='state' type='text'>
                <input class='zip' type='text'>
            </div>
        </div>
        <div class="Notes"> <!--  rows="4" cols="50" -->
            <textarea>
                Notes
            </textarea>
        </div>
    </div>
    <hr>
    <div class="shipping-section">
        <div class="shipping-titles">
            <label class="section-title">
                Shipping Address
            </label>
            <div class="same-question">
                <label>
                    (Same as billing
                </label>
                <input class='zip' type='checkbox'>
                <label>
                    )
                </label>
            </div>
        </div>
        <div class="address">
            <input class='street' type='text'><br/>
            <input class='PO-box' type='text'><br/>
            <input class='city' type='text'>
            <input class='state' type='text'>
            <input class='zip' type='text'>
        </div>
    </div>
    <hr>
    <div class="nav-buttons">
        <button id="goto-confirm-cart">
            Previous Step
        </button>
        <button id="goto-payment">
            Next Step
        </button>
    </div>
</div>