<div class="confirm-cart-page">
    <hr/>
    {{#each cart}}
        <div class='checkout-item' id="{{id}}-item">
            <div class="item-img-wrapper">
                <img src="{{imgURL}}">
            </div>
            <div class='checkout-item-info'>
                <div class = 'item-name'>{{name}}</div>

                <div class='sc-price'>$<span>{{price}}</span></div>
                <div>Quantity: {{quantity}}</div>
            </div>
            <div class="item-promo-wrapper">
                {{#if email}}
                    <div>Send to: {{email}}</div>
                {{else}}
                    <label>Promo code:</label>
                    <input class="promo-code-text" type="text"><div class = 'promo-feedback'></div>
                    <button class = 'item-promo-btn'>Apply</button>
                {{/if}}
            </div>
        </div>
        <hr/>
    {{/each}}

    <div class="gift-cards-wrapper">
        <label>Gift Card Code:</label>
        <input class="gift-card-text" type="text">
        <button class = 'gen-gift-card-btn'>Apply</button>
        <div class="invalide-gift-card"></div>
    </div>
     <div class="general-promo-wrapper">
        <label>General Promo Code:</label>
        <input class="general-promo-text" type="text"><div class = 'gen-promo-feedback'></div>
        <button class = 'gen-promo-btn'>Apply</button>
        <br/>
    </div>

    <div class="totals-wrapper">
        <label>Total: ${{total}}</label>
    </div>
</div>