<div class="confirm-cart-page">

    <hr/>
    {{#each cart}}
        <div class='checkout-item' id="{{id}}-item">
            <div class="item-img-wrapper">
                <img src="{{img}}">
            </div>
            <div class='checkout-item-info'>
                <div>{{name}}</div>
                <div class='sc-price'>$<span>{{price}}</span></div>
                <div>Quantity: <input class='item-quantity' type='text' value='{{quantity}}'></div>
            </div>
            <div class="item-promo-wrapper">
                <label>Promo code:</label>
                <input class="promo-code-text" type="text">
                <button>Add</button>
            </div>
        </div>
        <hr/>
    {{/each}}

     <div class="general-promo-wrapper">
        <label>General promo code:</label>
        <input class="general-promo-text" type="text">
        <button>Add</button>
        <br/>
        <label>15% Electronics Discount</label>
    </div>

    <div class="totals-wrapper">
        <label>Original: ${{total}}</label>
        <label>Discount: $0.00</label>
        <label>Total: ${{total}}</label>
    </div>
</div>