<div class="payment-page">
     <label class="section-title">
        Please enter your credit card information.
    </label>
    <div class="payment-info">
        <div class="name">
            <input class='nameOnCard' type='text'><label>Name on card: </label>
        </div>
        <div class="cardNum">
            <label>Card number: </label><input class="cardNum" type="text">
        </div>
        <div class="expirationDate">
            <label>Expiration date: </label><input class="MM" placeholder="MM" type="text"> / <input class="YYYY" placeholder="YYYY" type="text">
        </div>
        <div class="CVC-div">
            <label>CVC: </label><input class="CVC" type="text">
        </div>
    </div>
    <div class="notice">
        At this time, this feature is for demonstration purposes only. Your card will not be charged.
    </div>
</div>