.processed-btn{

}

.completed-btn{
    
}



.order-wrapper{
    overflow: scroll;
    height: 100%;
}

.order-box {
    border: 1px solid;
    
    .order-status{

    }

    .order-num{

    }

    .order-weight{

    }

    .order-items{

    }

    .order-quantity{

    }

    &:hover{
        background-color: #999;
    }


}