.emp-shipping-body {
    overflow: auto;
    height: 100%;
    font-size: 120%;

    .btn {
        text-align: right;
        background-color: #BEBEBE;
        font-size: 90%;
    }

    .top-section {
        height: 470px;
        overflow: auto;

        .shipping-info-box {
            float: left;
        }

        .shipping-label {
            margin-left: 270px;
            min-width: 570px;

            background-color: #FFF;
            box-shadow: 0 0 20px 2px rgba(0,0,0, .5);

            .ship-lbl-info {
                float: right;
                margin-top: 30px;
                margin-right: 10px;
            }
        }
    }
}

.error-msg{
	display: none;
}

.submitted-msg{
	display: none;
}

.default-shipping-msg{
	margin-top: 50px;
	text-align: center;
}

@media print{
    body > * {display: none;}
    body .article {display: block;}
}
